name: SmallRye PR Closed

on:
  pull_request:
    types: [closed]

jobs:
  release:
    runs-on: ubuntu-latest
    name: release

    steps:
      - uses: actions/github-script@0.5.0
        name: check gh release
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.pulls.listFiles({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: ${{github.event.number}}
            }).then(({ data }) => {

                let versionFile = data.find(function (file) {
                    return file.filename === '.github/release/version'
                });

                if (versionFile == null) {
                    return;
                }

                github.request("GET " + versionFile.raw_url).then(({ data }) => {

                    let version = data;

                    github.pulls.get({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        pull_number: ${{github.event.number}}
                    }).then(({ data }) => {

                        console.log(version.trim());
                        console.log(data.base.ref);

                        github.repos.createRelease({
                            owner: context.repo.owner,
                            repo: context.repo.repo,
                            tag_name: version.trim(),
                            target_commitish: data.base.ref,
                            name: version.trim()
                        });
                    });
                })
            });
