name: SmallRye PR Closed

on:
  pull_request:
    types: [closed]
    paths:
      - '.github/release/version'

jobs:
  release:
    runs-on: ubuntu-latest
    name: release
    if: ${{github.event.pull_request.merged == true}}
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_RELEASE_TOKEN}}

    steps:
      - uses: radcortez/project-version-action@master
        name: retrieve project version
        id: version
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          version-file-path: '.github/release/version'

      - uses: actions/checkout@v2
        with:
          token: ${{secrets.GITHUB_RELEASE_TOKEN}}

      - name: maven release ${{steps.version.outputs.project-version}}
        run: |
          git config --global user.name "SmallRye CI"
          git config --global user.email "smallrye@googlegroups.com"
          git checkout -b release
          mvn -B release:prepare -DreleaseVersion=${{steps.version.outputs.project-version}}
          git checkout master
          git rebase release
          git push
          git push --tags
