name: SmallRye Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    name: release

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1.3.0
        with:
          java-version: 8

      - name: release ${{github.event.release.tag_name}}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          git config --global user.name "SmallRye CI"
          git config --global user.email "smallrye@googlegroups.com"
          git fetch --all
          git switch -c release
          git tag -d ${{github.event.release.tag_name}}
          git push --delete origin ${{github.event.release.tag_name}}
          mvn -B release:prepare -DreleaseVersion=${{github.event.release.tag_name}}
          git push origin ${{github.event.release.tag_name}}
          git checkout -b master origin/master
          git rebase release
          git push

      - uses: actions/github-script@0.5.0
        with:
          github-token: ${{secrets.GITHUB}} # TODO - rename secret
          script: |
            const options = github.issues.listForRepo.endpoint.merge({
                owner: "radcortez",
                repo: "smallrye-release",
                milestone: "1"
            });
            github.paginate(options).then(issues => {
                let notes = "";
                for (const issue of issues) {
                    notes = notes + "- #" + issue.number + " " + issue.title + "\n";
                }

                github.repos.getReleaseByTag({
                    owner: "radcortez",
                    repo: "smallrye-release",
                    tag: "1",
                }).then(({ data }) => {

                    github.repos.updateRelease({
                        owner: "radcortez",
                        repo: "smallrye-release",
                        release_id: data.id,
                        body: notes
                    });

                });

            });
